/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */ /*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/

body {
        background: #c1cfda;
        color: rgb(45, 45, 45);
        padding: 10px;
        font-family: arial;
      }
      header {
        font-size: 1.5em;
        font-weight: bold;
      }
      #all-contents {
        max-width: 800px;
        margin: auto;
      }
  
      /* navigation menu */
      nav {
        background: #1F8FFF;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        padding: 10px;
        border-radius: 10px;
      }
      nav header {
        display: flex;
        align-items: center;
        color: rgb(255, 255, 255);
        flex: 1;
      }
      nav ul {
        list-style-image: none;
      }
      nav li {
        display: inline-block;
        padding: 0 10px;
      }
      nav a {
        text-decoration: none;
        color: #fff;
      }

      /* main container area beneath menu */
      main {
        background: #1F8FFF;
        display: flex;
        border-radius: 10px;
        color: #fff;
      }
      
      main a:link {
        color: #666370;
      }
      
      main a:visited {
        color: #59f8e8;
      }
      .sidebar {
        margin-right: 25px;
        padding: 10px;
      }
      .sidebar img {
        width: 200px;
        color:darkblue;
        border-style: solid;
        border-width: 4px;
        border-radius: 3px;
      }
      .content {
        flex: 1;
        padding: 15px;
      }
      .interests header {
        font-size: 1.25em;
      }
      /* portfolio styles */
            #portfolio {
                list-style-type: none;
                padding-left: 0;
            }

            #portfolio li {
                background: #fff;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            #portfolio li:hover {
                background: #eee;
            } 

            #portfolio a {
                text-decoration: none;
                color: #454545;
            }
